[flake8]
ignore = C101, W503, I100, I201, W191, E101
exclude =
    .git,
    .mypy_cache,
    __pycache__,
    venv,
filename = *.py
accept-encodings = utf-8
inline-quotes = single
max-complexity = 12
max-linenumber = 500
max-line-length = 119
multiline-quotes = double
per-file-ignores =
